@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: black;
}
ol,ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background: rgb(29, 24, 24);
}

.headerBG{
    background: linear-gradient(to right,aqua,violet)
}
.nameProject{
    background: -webkit-linear-gradient(rgb(247, 9, 247), rgb(15, 3, 3));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar--custom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.under:hover{
    cursor: pointer;
    border-bottom: 2px solid blue;
    margin-top: -3px;
}
.menu li{
    margin: 0 0.5rem; 
    overflow: hidden;
}
/* toggle button */
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
.menu-button,.menu-button::before,.menu-button::after {
    display: block;
    background-color: wheat;
    position: absolute;
    height: 5px;
    width: 35px;
    border-radius: 2px; 
}
.menu-button::before {
    content: '';
    margin-top: -8px;
}
.menu-button::after {
    content: '';
    margin-top: 8px;
}
/* toggle button */
/* rent-filter */
.rent-filter{
    background: none;
}
.btn-flex{
    display: flex;
    justify-content: space-between;
}
.btn-flex .btn{
    border: 1px solid skyblue;
    color: black;
    background-color: azure;
}
.btn-flex .btn:hover{
    border: 1px solid ;
    background-color:skyblue;
}
.container .btn-flex{
    gap: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .btn-flex div{
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.btn.btnRent:hover{
    background-color: yellow;
}
/* rent-filter */
/* btnForm */
.formRent{
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 50px;
}   
.logoForm{
    text-align: center;
}
.formOnTop{
    border: 1px solid rgb(243, 203, 203);
    border-radius: 15px;
    padding: 10px 40px  30px  40px;
    width: 40%;
    margin: 0 auto;
    background: linear-gradient(to left, violet, aqua);
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%,-50%);    */
}
.formOnTop label{
    margin: 10px;
}
.formOnTop input{
    width: 60%;
    border: 1px solid black;    
    border-radius: 5px;
    padding: 1px 10px;
}
.formOnTop label{
    width: 120px;
}
.formOnTop input.imageHouse{
    width: 95px;
    border: none;
} 
.signup{
    text-align: center;
    margin-top: 15px;
}
.signup input{
    padding: 5px;
    background-color: blue;
    color:whitesmoke;
    border: none;
    transition: all ease-in-out .5s;
}
.signup input:hover{
    background-color: rgb(86, 86, 241);
}
.rightClose{
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.closeBtn{
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -20px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    background: none;
    border: none;
    color: black;
    font-size: 30px;
}
.closeBtn:hover{
    color: red;
}
input.imageHouse{
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  /* animation */
/* btnForm */
/* .highlight{
    transition: all ease-in-out .5s;
}
.highlight:hover{
    height: auto;
    width: auto;
} */

.items{
    margin-top: 20px;
    background: none;
}
.text-info-custom{
    margin-top: -6px;
    border-top-color: saddlebrown;
    text-align: left;
    background: none;
    margin-bottom: 30px;
    font-size: 14px;
   
}
.text-info-custom div{
    margin-top: 6px;
}
.text-info-custom p{
    margin: 1px 20px 1px -10px;
    padding-left: 15px;
    color: rgb(40, 217, 223) ;
}
.text-info-custom p:first-child{
    margin-top: 10px;
}
.highlight{
    margin-bottom: 20px;
}
.test{
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top right, Violet, indigo, blue, green, yellow, orange, red)
}
.text-info-custom p:last-child{
    margin-bottom: -25px;
}
.text-info-custom p span{
    color:whitesmoke;
}
/* btnPage */
.btnPage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.btnPage button{
    text-align: center;
    padding: 0;
    width: 30px;
    height: 30px;
    transition: 0.2s;
    background: linear-gradient(to right, rgb(175, 172, 165), whitesmoke)
}
.btnPageHighlight:hover{
    background-color: rgb(206, 195, 195);
    color: #f53a07;
    cursor: pointer;
}
/* btnPage */
/* show more */
.show-more-center{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.showMoreBtn{
    cursor: pointer;
    color: aliceblue;
    width: 80px;
    transition: .5s;
}
.showMoreBtn:hover{
    color: #f53a07;
}
/* show more */
/* footer */
.footer{

    border-top: 1px solid red;
    margin-top: 100px;
    background: linear-gradient(to right,black ,rgb(128, 59, 59),black);
}
.space{
    color: whitesmoke;
}
.space h5{
    padding-bottom:10px ;
}
.space a{
    color: whitesmoke;
}
.mid-right{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}
.footerImg img{
    width: 30%;
}
/* footer */




/* test- */
